@import "tailwindcss";

:root {
  /* Fondo principal */
  --background: #f6f7f9;        /* gris muy claro */
  --foreground: #111827;        /* casi negro (Tailwind gray-900) */

  /* Superficies */
  --card: #ffffff;
  --border: #e5e7eb;            /* gray-200 */

  /* Texto */
  --muted: #6b7280;             /* gray-500 */
  --muted-foreground: #374151; /* gray-700 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}